<html>
<head></head>
<body>
<div id="modal" style="display:none;top:100px;width:500px;position:absolute;margin:auto;">
    <h1 id="word"></h1>
    <textarea id="comment"></textarea>
    <input type="button" onclick="saveComment();">
</div>
<textarea id="input"></textarea>
<input type="button" value="parse" onclick="parseInput();">
<div id="output"></div>
<script>
    var openid;
    function parseInput() {
        var text = document.getElementById('input').value;
        var words = text.split(' ');
        var html = '';
        var url = "/comment/init";
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                //document.getElementById("demo").innerHTML = this.responseText;
            }
        };
        xhttp.open("POST", url, true);
        xhttp.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        xhttp.send(JSON.stringify({"words": words}));
        for (var i=0; i< words.length;i++) {
            html += '<span style="padding: 0 5px;" onclick="addComment(' + i + ')" id="' + i + '">' + words[i] + '</span>';
        }
        document.getElementById('output').innerHTML = html;
    }
    function addComment(id) {
        var url = "/comment/";
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                //$('#modal').css('display', 'block');
                var res = JSON.parse(this.responseText);
                document.getElementById('modal').style.display = 'block';
                //$('#word').html(words[id]);
                document.getElementById('word').innerHTML = res.word;
                document.getElementById('comment').value = res.comment;
                openid = id;
            }
        };
        xhttp.open("GET", url + "?id=" + id, true);
        xhttp.send();
    }
    function saveComment() {
        var url = "/comment/save";
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                //document.getElementById("demo").innerHTML = this.responseText;
            }
        };
        xhttp.open("POST", url, true);
        xhttp.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        xhttp.send(JSON.stringify({"id": openid, "comment": document.getElementById('comment').value}));
        document.getElementById('modal').style.display = 'none';
    }
</script>
</body>
</html>

