<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href="/css/style.css" />
    <!--<script src="/javascripts/developmentvue.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="/javascripts/vueTest"></script>
</head>
<div>{{ result }}</div>
<body>
</body>
</html>
