.mdl-layout__content {
    background-color: #e8e8e8;
}

.contentColor {
    background-color: white;
}

.bordered {
    border: 1px solid #000;
}

.doubleBorder {
    border: double #000;
}

#holder {
    border: 1px solid #ccc;
    width: 300px;
    height: 300px;
    margin: 20px auto;
}

#holder.hover {
    border: 2px dashed #009ACD;
}

.highlight {
    background-color: yellow;
}

.headerRowLight {
    background-color: #b3d4fc;
}

/** Account Icon */
#headerbtn {
    color: #fff;
}

/** Button in toolbar*/
mark {
    background: yellow;
}

pre {
    display: inline;
}

.preAlt{
    display: inline;
    white-space: pre;
}
.nonPreAlt{
    display: inline;
    white-space: normal;
}

/**german*/
.I-PER {
    background: orangered;
}

.I-LOC {
    background: darkseagreen;
}

.I-ORG {
    background: deepskyblue;
}

.I-MISC {
    background: violet;
}

.POS {
    background: navajowhite;
}

/**english*/
.PERSON {
    background: orangered;
}

.LOCATION {
    background: darkseagreen;
}

.ORGANIZATION {
    background: deepskyblue;
}

.MISC {
    background: violet;
}

/** Button color */
.mdc-button-container-fill-color {
    color: black;
    /**background-color: black;*/
}

.researchresulthover{
    background-color: deeppink;
}


/**
Background color for Buttons
.mdl-button--raised{
    background: #b3d4fc;
}*/