@media screen and (min-width: 720px) {
    body{
        font-size: 1em;
        line-height: 1.3;
    }
}
@media screen and (min-width: 1080px) {
    body{
        font-size: 1.2em;
        line-height: 1.6;
    }
}
@media screen and (min-width: 1920px) {
    body{
        font-size: 1.4em;
        line-height: 1.9;
    }
}
@media screen and (min-width: 3840px) {
    body{
        font-size: 1.6em;
        line-height: 2.2;
    }
}
@media screen and (min-width: 7680px) {
    body{
        font-size: 2em;
        line-height: 2.6;
    }
}


.mdl-layout__content {
    background-color: #e8e8e8;
}

.contentColor {
    background-color: white;
}

.bordered {
    border: 1px solid #000;
}

.doubleBorder {
    border: double #000;
}

.demo-list-item {
    width: 100px;
    padding: 0%;
    position: relative;
}

#holder {
    border: 1px solid #ccc;
    width: 300px;
    height: 300px;
    margin: 20px auto;
}

#holder.hover {
    border: 2px dashed #009ACD;
}

/**hover color*/
.researchresulthover {
    background-color: #e8e8e8;
}

.highlight {
    background-color: yellow;
}

.headerRowLight {
    background-color: #b3d4fc;
}

/** separate views */
.separate {
    border-bottom: 3px solid #e8e8e8;
}

/** Account Icon */
#headerbtn {
    color: #fff;
}

/** Button in toolbar*/
mark {
    background: yellow;
}

pre {
    display: inline;
}

.preAlt {
    display: inline;
    white-space: pre;
}

.nonPreAlt {
    display: inline;
    white-space: normal;
}

.specialBracket {
    font-weight: bold;

}

/**Toggle Bottons */
.activeButton {
    background: white;
}

/**english*/
.PERSON {
    background: orangered;
}

.LOCATION {
    background: darkseagreen;
}

.ORGANIZATION {
    background: deepskyblue;
}

.MISC {
    background: violet;
}

.POS {
    background: lightgrey;
}

.coref {
    border-bottom: 2px solid red;
}

.cRepresentant {
    border-bottom: 2px solid red;
}

.cReferent {
    border-bottom: 2px solid blue;
}

.cHoverRepresentant {
    background: darkgrey;
    border-bottom: 2px solid red;
}

.cHoverReferent {
    background: darkgrey;
    border-bottom: 2px solid blue;
}

.cSelectedRepresentant {
    background: yellow;
    border-bottom: 2px solid red;
}

.cSelectedReferent {
    background: yellow;
    border-bottom: 2px solid blue;
}

.nested {
    font-weight: bold;
}

.mentionBegin {
    border-left: 2px solid red;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}

.mentionEnd {
    border-right: 2px solid red;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

/** Button color */
.mdc-button-container-fill-color {
    color: black;
    /**background-color: black;*/
}

.notemark {
    background: yellow;
}

.inputFieldNote {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 5px;
    border: 2px solid #b7b7b7;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font: normal 16px/normal "Times New Roman", Times, serif;
    color: rgba(0, 0, 0, 1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(252, 252, 252, 1);
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.66);
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.textfieldCorrection {
    width: 100%;
    padding: 0;
}

.newwordnote {
    background: #dddddd;
}

/**
Background color for Buttons
.mdl-button--raised{
    background: #b3d4fc;
}*/