.mdl-layout__content{
    background-color: #dddddd;
}

.bordered {
    border: 1px solid #000;
}

.doubleBorder {
    border: double #000;
}

#holder {
    border: 1px solid #ccc;
    width: 300px;
    height: 300px;
    margin: 20px auto;
}

#holder.hover {
    border: 2px dashed #009ACD;
}

.highlight
{
    background-color:yellow;
}

.headerRowLight
{
    background-color: #b3d4fc;
}
/** Account Icon */
#headerbtn {
    color: #fff;
}

/** Button in toolbar*/
mark{
    background: yellow;
}

.I-PER{
    background: red;
}

.I-LOC{
    background: green;
}
.I-ORG{
    background: blue;
}
.I-MISC{
    background: navajowhite;
}


/** Button color */
.mdc-button-ink-color{
    color: black;
    --mdc-theme-background: black;
}

.mdc-button-container-fill-color {
    color:black;
}