
featurecell2 {
    padding: 0px 8px 8px 0px;
}

.featurecell3 {
    padding: 0px 0px 8px 8px;
}

.bordered {
    border: 1px solid #000;
}

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

p {
    color: #00B7FF;
}
