<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<form action="/test/theFunction" method="post">
    Zu testende Funktion: <br>
    <input type="submit">
</form>
<form action="/test/nlp" method="post">
    <p>corenlp wird getestet<p>
    <input type="text" name="testFunction" id="textInput"><br>
    <input type="submit">
</form>
<p><%= result %></p>
</body>
</html>
