<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>

<form action="/loadtext/nlp2" method="post">
    <p>Text eingeben oder kopieren:<p>
        <textarea type="text" name="testFunction" id="textInput"></textarea><br>
        <br>
        <input type="submit">
</form>
<p><%= result %></p>

</body>
</html>
