<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap-autocolumns.css" />
</head>

<body>
<h1><%= title %></h1>

<form action="/loadtext/nlp2" method="post">
        <textarea placeholder="Type or paste text here..." name="testFunction" id="holder"></textarea><br>
        <br>
        <input type="submit">
</form>

<article>
    <!--<p id="status">File API & FileReader API not supported</p>-->
</article>

<script>

    var holder = document.getElementById('holder'),
        state = document.getElementById('status');

    if (typeof window.FileReader === 'undefined') {
        state.className = 'fail';
    } else {
        state.className = 'success';
        state.innerHTML = 'File API & FileReader available';
    }

    holder.ondragover = function () {
        this.className = 'hover';
        return false;
    };
    holder.ondragend = function () {
        this.className = '';
        return false;
    };
    holder.ondrop = function(e) {
        this.className = '';
        e.preventDefault();

        var file = e.dataTransfer.files[0],
            reader = new FileReader();
        reader.onload = function(event) {
            console.log(event.target);
            holder.innerText = event.target.result;
        };
        console.log(file);
        reader.readAsText(file);

        return false;
    };
    pdfToText = function (file) {
        //TODO: Parse pdf to text
        return file;
    }


    function highlight(word){

        var span = document.createElement('span');
        span.setAttribute('id', 'spanText');
        document.getElementById('result').appendChild(span);
        span.innerHTML = word;
    }


</script>

<p id="result"><%= result %></p>


</body>
</html>
