<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- material.io-->
    <meta name = "viewport" content = "width = device-width, initial-scale = 1">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <script src = "https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <link rel = "stylesheet" href = "https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
    <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">

    <style>
        .graybox {
            background-color:#ddd;
        }
        .mdl-textfield{
            width:750px; /*hard coded atm. later I'll find a better solution*/ 
        }
    </style>

    <link rel="stylesheet" type="text/css" href="/public/css/style.css" />

    <script language="javascript">

        // ButtonFunction for open and close the result field
        function expand() {
        var button = document.getElementById('switch');
        var rightDiv = document.getElementById('right-column');
        if (button.value === 'v') {
            button.value = '^';
            rightDiv.style.display = 'inline';
        } else {
            button.value = 'v';
            rightDiv.style.display = 'none';
        }

        function showMessage(value) {
            document.getElementById("message").innerHTML = value;
        }
    }
    </script>

    <title>%= title %</title>
</head>
<body>
<!--material.io beginning -->
    <div class = "mdl-grid"> <!--Row 1 for features -->
        <div class = "mdl-cell mdl-cell--2-col graybox">
            <button class = "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                <i class = "mdc-button">Feature 1</i></button></div>
        <div class = "mdl-cell mdl-cell--2-col graybox">
            <button class = "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                <i class = "mdc-button">Feature 2</i></button></div>
        <div class = "mdl-cell mdl-cell--2-col graybox">
            <button class = "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                <i class = "mdc-button">Feature 3</i></button></div>
        <div class = "mdl-cell mdl-cell--2-col graybox">
            <button class = "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                <i class = "mdc-button">Feature 4</i></button></div>
    </div>

<div class = "mdl-grid"> <!--just place holder -->
    <div class = "mdl-cell mdl-cell--6-col graybox">1</div>
    <div class = "mdl-cell mdl-cell--6-col graybox">2</div>
</div>

<div class = "mdl-grid"> <!-- clear button -->
    <div><td><button class = "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                <i class = "mdc-button">Leeren</i></button></td>
    </div>
</div>

<div class = "mdl-grid"> <!-- Resizable Textfield-->
    <div>
        <form action = "#">
            <div class = "mdl-textfield mdl-js-textfield extrawide">
                <textarea class = "mdl-textfield__input" type = "text"
                          rows =  "3"
                          id = "textbox" ></textarea>
                <label class = "mdl-textfield__label"
                       for = "textbox">Enter text here ...
                </label>
            </div>
        </form>
    </div>
</div>

<!--material.io ending -->

<div class="container">
    <div class="row" style="padding: 0 0 32px 0"> <!--Logo and Account row-->
        <div class="col-sm-4" style="text-align: right"><input type="submit" value="Konto" /></div>
    </div>

    <div class="row" style="padding: 0 0 8px 0"> <!-- Features-row -->
        <div class="row bordered">
            <div class="col-sm-2 bordered"><input type="submit" value="Feature1" />&nbsp;<input type="submit" value="Feature2" />&nbsp;<input type="submit" value="Feature3" />&nbsp;<input type="submit" value="Feature4" /></div>
        </div>
    </div>

    <div class="row"> <!-- additional row for results-->
        <div class="col-sm-12" style="text-align: right;"><input type="submit" id="switch" value="v" onclick="expand();"/></div>
</div>


<div class="row">
    <div class="col-xs-auto"><!--automatically adjust columns-->

        <div class="row bordered">
            <div class="col-sm-12 bordered"><input type="submit" value="Textfeld leeren" /></div> <!--clear textfield-->
        </div>
        <div class="row bordered">
            <div class="col-sm-12 bordered">
                <label>
                    <textarea class="form-control" style="width: 500px;">Enter Text here</textarea>
                </label>
            </div>
        </div>

    </div>
    <div class="col-xs-auto-right" style="display: none;" id="right-column"> <!-- by default solution area is closed-->

        <div class="row bordered">
            <div class="col-sm-12 bordered"><input type="submit" value="NER (name, place, etc)" /></div>
        </div>

        <div class="row bordered"> <!-- Buttons for results-->
            <div class="col-sm-12 bordered"><input type="submit" value="button1" />&nbsp;<input type="submit" value="button2" />&nbsp;<input type="submit" value="button3" />&nbsp;<input type="submit" value="button4" /></div>
        </div>

        <div class="row bordered">
            <div class="col-sm-12 bordered"> Placeholder for results (images, descriptions, etc) .......</div>
        </div>

    </div>
</div>
</div>


</body>
</html>

