<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- material.io-->
    <meta name = "viewport" content = "width = device-width, initial-scale = 1">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <script src = "https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <link rel = "stylesheet" href = "https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
    <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">

    <style>
        .graybox {
            background-color:#ddd;
        }
    </style>

    <script langauage = "javascript">
        function showMessage(value) {
            document.getElementById("message").innerHTML = value;
        }
    </script>

    <link rel="stylesheet" type="text/css" href="/public/css/style.css" />

    <script>

        // ButtonFunction for open and close the result field
        function expand() {
        var button = document.getElementById('switch');
        var rightDiv = document.getElementById('right-column');
        if (button.value === 'v') {
            button.value = '^';
            rightDiv.style.display = 'inline';
        } else {
            button.value = 'v';
            rightDiv.style.display = 'none';
        }
    }
    </script>

    <title>%= title %</title>
</head>
<body>
<!--material.io beginning -->

    <div class = "mdl-grid"> <!--Row 1 for features -->
        <div class = "mdl-cell mdl-cell--1-col graybox">1</div>
        <div class = "mdl-cell mdl-cell--1-col graybox">2</div>
        <div class = "mdl-cell mdl-cell--1-col graybox">3</div>
        <div class = "mdl-cell mdl-cell--1-col graybox">4</div>
        <div class = "mdl-cell mdl-cell--1-col graybox">5</div>
        <div class = "mdl-cell mdl-cell--1-col graybox">6</div>
        <div class = "mdl-cell mdl-cell--1-col graybox">7</div>
        <div class = "mdl-cell mdl-cell--1-col graybox">8</div>
        <div class = "mdl-cell mdl-cell--1-col graybox">9</div>
        <div class = "mdl-cell mdl-cell--1-col graybox">10</div>
    </div>

<div class = "mdl-grid"> <!--Row 2 for Text and Result -->
    <div class = "mdl-cell mdl-cell--6-col graybox">1</div>
    <div class = "mdl-cell mdl-cell--6-col graybox">2</div>
</div>

<table>
    <tr><td>Multiline Text Field</td>
    </tr>
    <tr>
        <td>
            <form action = "#">
                <div class = "mdl-textfield mdl-js-textfield">
                     <textarea class = "mdl-textfield__input" type = "text" rows =  "3"
                               id = "textbox" ></textarea>
                    <label class = "mdl-textfield__label" for = "textbox">Enter text here ...</label>
                </div>
            </form>
        </td>
    </tr>
</table>



<!--material.io ending -->

<div class="container">
    <div class="row" style="padding: 0px 0px 32px 0px"> <!--Logo and Account row-->
        <div class="col-sm-4" style="text-align: right"><input type="submit" value="Konto" /></div>
    </div>

    <div class="row" style="padding: 0px 0px 8px 0px"> <!-- Features-row -->
        <div class="row bordered">
            <div class="col-sm-2 bordered"><input type="submit" value="Feature1" />&nbsp;<input type="submit" value="Feature2" />&nbsp;<input type="submit" value="Feature3" />&nbsp;<input type="submit" value="Feature3" /></div>
        </div>
    </div>

    <div class="row"> <!-- additional row for results-->
        <div class="col-sm-12" style="text-align: right;"><input type="submit" id="switch" value="v" onclick="expand();"/></div>
</div>


<div class="row">
    <div class="col-xs-auto"><!--automatically adjust columns-->

        <div class="row bordered">
            <div class="col-sm-12 bordered"><input type="submit" value="Textfeld leeren" /></div> <!--clear textfield-->
        </div>
        <div class="row bordered">
            <div class="col-sm-12 bordered"><textarea class="form-control" style="width: 500px;">Enter Text here</textarea></div>
        </div>

    </div>
    <div class="col-xs-auto-right" style="display: none;" id="right-column"> <!-- by default solution area is closed-->

        <div class="row bordered">
            <div class="col-sm-12 bordered"><input type="submit" value="NER (name, place, etc)" /></div>
        </div>

        <div class="row bordered"> <!-- Buttons for results-->
            <div class="col-sm-12 bordered"><input type="submit" value="button1" />&nbsp;<input type="submit" value="button2" />&nbsp;<input type="submit" value="button3" />&nbsp;<input type="submit" value="button4" /></div>
        </div>

        <div class="row bordered">
            <div class="col-sm-12 bordered"> Placeholder for results (images, desciptions, etc) .......</div>
        </div>

    </div>
</div>
</div>


</body>
</html>

